 --90px-font: clamp(60px, 2.5vw + 55px, 90px);
  --40px-font: clamp(25px, 1.79vw + 14.7px, 40px);
  --18px-font: clamp(15px, 1.79vw + 14.7px, 18px);
  --16px-font: clamp(13px, 1.79vw + 14.7px, 16px);

  .f-90{
    font-size: 90px;
  }